:root {
    --animate-speed: 1s;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik Glitch', cursive;
}


body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(10deg, rgba(2,0,36,1) 0%, rgba(84,119,144,1) 35%, rgba(0,212,255,1) 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4rem;
    color: #660066;
}


.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pvp-game {
    display: flex;
    justify-content: center;
    margin: 5rem;
}

.pvp-game p {
    font-size: 3rem;
    margin: 0 2rem 0;
}

.button {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.player1 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    transform: translateX(-400px);
    animation: show var(--animate-speed) forwards ease-in;
}

.player1 button,
.player2 button {
    width: 50%;
    height: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.player2 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    transform: translateX(400px);
    animation: show var(--animate-speed) forwards ease-in;
}

.button p {
    padding: 1rem;
    font-size: 1.5rem;
}

button {
    margin: 0 2rem 0;
    padding: 15px 20px;
    border-radius: 6px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(164,180,29,1) 0%, rgba(0,212,255,1) 85%);
    font-size: 1.2rem;
    background-color: #dbdfe2;
}

.button2 {
    display: flex;
    justify-content: center;
}

.choosen {
    background: #dbdfe2;
}

button:hover {
    cursor: pointer;
    background-color: #dbdfe2;
}

.first-player {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-1000px);
    animation: show var(--animate-speed) forwards ease-in;
}

.second-player {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(1000px);
    animation: show var(--animate-speed) forwards ease-in;
}



.resalut {
    display: flex;
    justify-content: center;
    font-size: 4rem;
}

@keyframes show {
    to {
        transform: translateX(0);
    }

}

.hidden {
    display: none;
}

@media (max-width: 900px) {

h1{
    font-size: 1.6rem;
}
.first-player,.second-player{
    font-size: 4rem;
}
    .player1,
    .player2 {
        flex-direction: column;
    }
}