:root {
    --animate-speed: 1s;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik Glitch', cursive;
}


body {
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(10deg, rgba(84, 119, 144, 1) 0%, rgba(0, 212, 255, 1)100%)no-repeat center fixed;
    background-size: cover;
}

h1 {
    font-size: 4rem;
    color: #000;
    padding: 2rem 0;
}


.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pvp-game {
    display: flex;
    justify-content: center;
}

.pvp-game p {
    font-size: 2rem;
    padding: 2.2rem;
}

.button {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.player1 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    transform: translateX(-400px);
    animation: show var(--animate-speed) forwards ease-in;
}

.player1 button,
.player2 button {
    width: 50%;
    height: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.player2 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    transform: translateX(400px);
    animation: show var(--animate-speed) forwards ease-in;
}

.button p {
    padding: 1rem;
    font-size: 1.5rem;
}

button, .btn {
    margin: 1rem 2rem 0;
    padding: 15px 20px;
    border-radius: 6px;
    background: linear-gradient(rgb(132, 132, 141) 0%, rgb(116, 137, 141) 100%);
    font-size: 1.2rem;
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    
    
}

.button2 {
    display: flex;
    justify-content: center;
}

.choosen {
    background: #dbdfe2;
    
}

button:hover {
    cursor: pointer;
    background: #dbdfe2;
    transform: translateY(5px);
    box-shadow: inset 0px 10px 30px 2px rgba(10, 10, 10);

}

.first-player {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-1000px);
    animation: show var(--animate-speed) forwards ease-in;
}

.second-player {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(1000px);
    animation: show var(--animate-speed) forwards ease-in;
}


.resalut {
    display: flex;
    justify-content: center;
    font-size: 4rem;
}

@keyframes show {
    to {
        transform: translateX(0);
    }

}

.hidden {
    display: none;
}

@media only screen and (max-width: 900px) {
    button:hover {
        background: #dbdfe2;
        box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        
    }

    h1 {
        font-size: 1.6rem;
    }

    .first-player,
    .second-player {
        font-size: 4rem;
    }

    .player1,
    .player2 {
        flex-direction: column;
    }
}